<!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#coloradd" style="margin-right: 10px;">
  Add Color
  </button>
  
  <!-- Modal -->
  <div class="modal fade" style="background-color: #adb5bd;" id="coloradd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color: #adb5bd;">
          <form [formGroup]="colorAddForm">

 
 <label for="colorName">Name</label>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input type="text"  formControlName="colorName"  pInputText>
                   
                </span>
            </div>

            
    

    </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-dark" (click)="add()">Save changes</button>
        </div>
      </div>
    </div>
  </div>