<!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#brandupdate">
    Update Brand
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="brandupdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #adb5bd;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Brand</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label >Select</label>
          <select  (ngModelChange)="setCurrentBrand($event)" [ngModel]="brands" name="brands" ngDefaultControl   aria-label="Default select example"  >
      
              <option  [value]="brand.id"  *ngFor="let brand of brands "  >{{brand.brandName}} </option>
              
            </select> 
          <form [formGroup]="brandUpdateForm">
     
           
            
 
            <div class="p-field p-col-12 p-md-4"><label for="brandName">Name</label>
                <span class="p-float-label">
                    <input type="text"  formControlName="brandName" id="brandName1" pInputText>
                   
                </span>
            </div>

            
    

    </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Back</button>
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="update()">Update</button>
        </div>
      </div>
    </div>
  </div>