<div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;margin-top: 50px; border-radius: 5px;">
    <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi bi-patch-exclamation" width="40" height="32"></svg>
      <span class="fs-4"></span>
    </a>
    <img src="assets/img/123.png" height="180"  class="p-mr-2" >
    <input list="brandyo" (ngModelChange)="setCurrentBrand($event)" style=" background-color: #c6ebda;border-color: rgb(255, 0, 0);" type="text" [(ngModel)]="filterBrandText" class="form-control" id="filterBrandText" 
  placeholder="Brand Search">
    <datalist id="brandyo" [ngModel]="brands" name="brands" ngDefaultControl   aria-label="Default select example"  style="background-color: #accef0; border-radius: 10px;float: right;margin-top: 5px;">
      
      <option  [value]="brand.id"  *ngFor="let brand of brands |filterBrand:filterBrandText  "  >{{brand.brandName}} </option>
      
    </datalist>
    <input  list="coloryo"  (ngModelChange)="setCurrentColor($event)"style="margin-top: 5px;background-color: #c6ebda;border-color: rgb(255, 0, 0);" type="text" class="form-control" [(ngModel)]="filterColorText"  id="filterColorText"
          placeholder="Color Search">
    <datalist id="coloryo" [ngModel]="colors"  name="colors" ngDefaultControl   aria-label="Default select example"  style="background-color: #accef0; border-radius: 10px;float: right;margin-top: 5px; ">
      
      <option  [value]="color.id"  *ngFor="let color of colors |filterColor:filterColorText"  >{{color.colorName}} </option>
      
    </datalist>
    
     <button  class="btn btn-warning "  (click)="someFilter()" style=" border-radius: 15px; margin-top: 8px;">Filter</button> 
     <button class="btn  " routerLink="/main" style=" border-radius: 15px; margin-top: 8px;background-color:#4aa87c ;margin-bottom: 30px;">Clear</button>
  </div>

  
