<div class="row" style="margin-top: 50px;">

    <div class="card col-md-4 border-0">
        <div class="col-md-12 col-lg-12 mb-0 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="400">
            <div class="card card-background-image-hover border-3"
                >
                <div class="card-body text-center p-5">
                    <i class="bi bi-speedometer icon-layers icons text-color-primary" style="font-size: 30px;color:green"></i>
                    <h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Car</h4>
                    <p class="card-text">Car operations are below </p>

                    <app-car-add></app-car-add>
                    <app-car-update></app-car-update>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-md-4 border-0">
        <div class="col-md-12 col-lg-12 mb-0 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="400">
            <div class="card card-background-image-hover border-3"
                >
                <div class="card-body text-center p-5">
                    <i class="bi bi-palette icon-layers icons text-color-primary" style="font-size: 30px;color:green"></i>
                    <h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Color</h4>
                    <p class="card-text">Color operations are below</p>
                    <app-color-add></app-color-add>

                    <app-color-update></app-color-update>
                </div>
            </div>
        </div> 
    </div>
    <div class="card col-md-4 border-0">
        <div class="col-md-12 col-lg-12 mb-0 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="400">
            <div class="card card-background-image-hover border-3"
                >
                <div class="card-body text-center p-5">
                    <i class="bi bi-award icon-layers icons text-color-primary" style="font-size: 30px;color:green"></i>
                    <h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Brand</h4>
                    <p class="card-text">Brand operations are below</p>
                    <app-brand-add></app-brand-add>

                    <app-brand-update></app-brand-update>
                </div>
            </div>
        </div>
    </div>
</div><app-user></app-user>
<!-- <div class="row" style="margin-top: 20px;" >
    <div class="card col-md-6 border-0" style="margin: 20px 0 0 320px;">
        <div class="col-md-6 col-lg-12 mb-0 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="400">
            <div class="card card-background-image-hover border-3"
                style="background-image: url(img/blog/square/blog-1.jpg);">
                <div class="card-body text-center p-5">
                    <i class="bi bi-controller icon-layers icons text-color-primary" style="font-size: 30px; color:green"></i>
                    <h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Admin Profile</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
                        adipiscing elit.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div> -->