<div class="card col-md-6 border-0" style="margin: 20px 0 0 320px;">
    <div class="col-md-6 col-lg-12 mb-0 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
        data-appear-animation-delay="400">
        <div class="card card-background-image-hover border-3"
            >
            <div class="card-body text-center p-5">
                <i class="bi bi-controller icon-layers icons text-color-primary"
                    style="font-size: 30px; color:green"></i>
                <h4 class="card-title mt-3 mb-3 text-5 font-weight-bold">Edit Profile</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
                    adipiscing elit.</p>

                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#userupdate"
                    style="margin-right: 10px;">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->


<div class="modal fade" id="userupdate" tabindex="-1" aria-labelledby="exampleModalLabel22" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #adb5bd;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel22">User Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userUpdateForm">
                    <div class="p-field p-col-12 p-md-2 ">
                        <span class="p-float-label">
                            <input type="text" formControlName="firstName" id="firstName" placeholder="FirstName"
                                pInputText>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-md-2 ">
                        <span class="p-float-label">
                            <input type="text" formControlName="lastName" id="lastName" placeholder="LastName"
                                pInputText>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-md-2 ">
                        <span class="p-float-label">
                            <input type="text" formControlName="email" placeholder="@Email" id="userName" pInputText>
                        </span>
                    </div>
                    <div class="p-field p-col-2 p-md-2">
                        <span class="p-float-label">
                            <input type="password" formControlName="password" placeholder="password" id="password"
                                pInputText>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" data-bs-dismiss="modal" (click)="update()"  class="btn btn-dark">Add</button>
            </div>
        </div>
    </div>
</div>